{# base.htmlを継承する #}
{% extends "base.html" %}

{# このHTML特有の"title"ブロックを記述 #}
{% block title %}UserList {{ super() }}{% endblock %}

{# このHTML特有の"content"ブロックを記述 #}
{% block content %}
{# <h1>{{ users }}</h1> #}
    {# index.htmlへのリンクへ繊維 #}
    <a href="{{ url_for('index') }}">Indexへ</a>

    <h1>フィルタリング</h1>
    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])の1番目の要素を表示 #}
    <p>最初の人: {{ users | first }}</p>
    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])の最後の要素を表示 #}
    <p>最後の人: {{ users | last }}</p>
    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])を昇順にソートして1番目の要素を表示 #}
    <p>昇順ソート: {{ users|sort|first }}</p>
    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])の要素をランダムに表示 #}
    <p>ランダム: {{ users|random }}</p>


    <h2>逆順</h2>
    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])を逆順にしてループして表示 #}
    {% for user in users|reverse %}
        {# カスタムテンプレートフィルター(自作のフィルター)を使ってフォーマットを指定 #}
        {# フィルターの名前はapp.pyで定義したものを使う #}
        <li>{{ user | reverse_name }}</li>
    {% endfor %}

    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])の長さを表示 #}
    <p>長さ: {{ users|length }}</p>

    {# 引数の値の空白を削除して表示 #}
    <p>{{"  abc   " | trim}}</p>
    <hr>

    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])の要素をループして表示 #}
    {% for user in users %}
        {# loop.indexはループのインデックスを表す #}
        {# loop.nextitemは次の要素を表す #}
        {{ loop.index }}: {{ loop.nextitem }}

        {# loop.lastは最後の要素かどうかを表す #}
        {# {% if loop.last %}
            <p>あなたは最後です{{ user }}</p>
        {% endif %} #}
    {% endfor %}

    <hr>
    <ul>
    
    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])の要素をループして表示 #}
    {% for user in users %}
        {# 受け取ったuserオブジェクト(user = 'Taro')が"Taro"かどうかを判断 #}
        {% if user=="Taro" %}
            <p>Taroさんですね</p>

        {# 受け取ったuserオブジェクト(user = 'Jiro')が"Jiro"かどうかを判断 #}
        {% elif user=="Jiro" %}
            <p>Jiroですか？</p>
        {# その他の場合 #}
        {% else %}
            <p>その他</p>
        {% endif %}
        <li>{{ user }}</li>
    {% endfor %}

    </ul>
    {# 受け取ったis_loginオブジェクト(is_login = False)がTrueかどうかを判断 #}
    {% if is_login %}
        <p>ログイン済みです</p>
    {% else %}
        <p>ログインしていません</p>
    {% endif %}

    {# 受け取ったusersオブジェクト(users = ['Taro', 'Jiro', 'Saburo', 'Shiro'])に"Taro"が含まれているかどうかを判断 #}
    {% if "Taro" in users %}
    <p>Taroは存在します</p>
    {% endif %}
{% endblock %}